.btn {
    width: 150px;
    height: 30px;
    font-size:larger;
    margin-bottom: 10px;
}

.your-link {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    
    align-items: flex-start;
    
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
}